frontend/.env
frontend/package-lock.json
frontend/.expo/
frontend/node_modules
#.expo/
package-lock.json
backend/.env
backend/node_modules
backend/package-lock.json
node_modules
ai-service/__pycache__
ai-service/venv
Documentation/
openrouter-service/.env
openrouter-service/venv
openrouter-service/__pycache__
